body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 8px;

}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin-top: auto;
  font-size: 16px;
  font-weight: bold;
}

.content {
  background: #e3f4ff;
  margin-top: 16px;
  margin-bottom: 16px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin:auto;
  padding: 10px;
}